<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepfake Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <h1>Deepfake Image Classification</h1>

        <!-- Form for image upload -->
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" required>
            <button type="submit">Submit</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if result %}
            <h2>Classification Result:</h2>
            <p>{{ result }}</p>

            <!-- Inside the result section of index.html -->
            {% if result == "The uploaded image is a deepfake." %}
                <h2>Result Images:</h2>
                <a href="{{ url_for('download_pdf') }}" download="result.pdf">
                    <button>Download PDF</button>
                </a>
            {% endif %}
        {% endif %}

    </div>
</body>

</html>
